# --- MATLAB & Simulink Specifics ---
*.asv
*.slxc
*.mex*
slprj/
cat_temp/
work/
*.log
*.m~
*.jln

# --- AI & Environment ---
.env            # Pour cacher tes clés API (OpenAI, Google, etc.)
venv/           # Ton environnement virtuel Python
.venv/
__pycache__/

# --- System & IDE ---
.DS_Store
.vscode/        # Optionnel : garde-le si tu veux partager tes réglages VS Code